<a href="https://colab.research.google.com/github/TendsToInfinity/Brine-task/blob/main/Tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Load the data
df = pd.read_csv('orders.csv')

Create a new column for the total cost of each order

In [ ]:
# Create a new column for the total cost of each order
df['total_cost'] = df['product_price'] * df['quantity']

In [ ]:
# Convert order_date to datetime format
df['order_date'] = pd.to_datetime(df['order_date'])

In [ ]:
# Set order_date as the index of the DataFrame to use resample
df.set_index('order_date', inplace=True)

In [ ]:
# Calculate total revenue per month
monthly_revenue = df.resample('M')['total_cost'].sum()

In [ ]:
# Calculate total revenue per product
product_revenue = df.groupby('product_name')['total_cost'].sum()

In [ ]:
# Calculate total revenue per customer
customer_revenue = df.groupby('customer_id')['total_cost'].sum()

In [ ]:
# Get the top 10 customers by revenue
top_10_customers = customer_revenue.nlargest(10)

In [ ]:
# Print results
print("Total Revenue per Month:")
print(monthly_revenue)
print("\nTotal Revenue per Product:")
print(product_revenue)
print("\nTotal Revenue per Customer:")
print(customer_revenue)
print("\nTop 10 Customers by Revenue:")
print(top_10_customers)

Total Revenue per Month:
order_date
2022-01-31    6436431
Freq: M, Name: total_cost, dtype: int64

Total Revenue per Product:
product_name
a           5848
abc        11348
abd        17025
abf        22704
abg        28385
ajs      1450080
are        62513
asd         6210
done       34068
get        45440
hello     238770
how        68208
jk       1417812
lets       51129
nvnv     1482350
olk      1385546
qwe         6394
this       39753
you        56820
zxc         6028
Name: total_cost, dtype: int64

Total Revenue per Customer:
customer_id
1234      11348
1235      17025
1236      22704
1237      28385
1238      34068
1239      39753
1240      45440
1241      51129
1242      56820
1243      62513
1244      68208
1245     238770
1246    1385546
1247    1417812
1248    1450080
1249    1482350
1250       5848
1251       6028
1252       6210
1253       6394
Name: total_cost, dtype: int64

Top 10 Customers by Revenue:
customer_id
1249    1482350
1248    1450080
1247    1417812
1246    1385546
1245     238770
1244      68208
1243      62513
1242      56820
1241      51129
1240      45440
Name: total_cost, dtype: int64